<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
</head>
<body>
    <h1>Multiple Choice Quiz</h1>
    <form action="{{ url_for('submit') }}" method="post">
        {% for question in questions %}
            <div>
                <h3>{{ question['question'] }}</h3>
                {% for option in question['options'] %}
                    <input type="checkbox" name="question-{{ question['id'] }}" value="{{ option }}"> {{ option }}<br>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</body>
</html>
